:root {
  --black: #030303;
  --primary: #861388;
  --secondary: #E15A97;
  --subsecondary: #EEABC4;
  --error: #7F0123;
  --headertext: hsla(0,0%,100%,.6);
}
@font-face {
   font-family: Krungthep;
   src: 'fonts/Krungthep.ttf';
 }
*{
   font-family: Krungthep;
}

header {
   margin-bottom: 1em;
   border-bottom: 1px solid var(--black);
   text-align: left;
   color: var(--primary);
   background-color: var(--black);
   width:100%;
   padding-top: 10px;
}

#createEventsPage {
   padding: 20px;
}

footer {
   margin-top: 1em;
   border-top: 1px solid #202120;
   text-align: center;
   color: var(--secondary);
   background-color: var(--black);
   padding: 1em;
   position:static;
   bottom:0;
   width:100%;
   height:60px;
}

h1 {
   color: var(--secondary);
   padding: 10px;
}
h1 span {
   display: inline-block;
   font-size: 150%;
}
.HeaderButtons {
   float: right;
   padding-right: 20px;
   display: inline;
}
#LoginButton {
   margin-right: 2px;
}
.card {
   padding: 20px;
}

.form-group input {
   margin-bottom: 20px;
}

.login-page {
   align-items: center;
   display: flex;
   height: 100vh;
}

.error {
   animation-name: errorShake;
   animation-duration: 0.5s;
   color: red;
}

@keyframes errorShake {
   10%, 90% {
      transform: translateX(-1px);
   }
   20%, 80% {
      transform: translateX(2px);
   }
   30%, 70% {
      transform: translateX(-3px);
   }
   40%, 60% {
      transform: translateX(4px);
   }
   50% {
      transform: translateX(-5px);
   }
}

#carrot {
   border-top: 100px solid #202120;
}
#PageMenu {
   color: var(--headertext);
   background-color: var(--black);
}

#LoginButton {
   color: var(--headertext);
}
#SignUpButton {
   color: var(--headertext);
   background-color: var(--secondary);
}
#MyAccountButton {
   color: var(--headertext);
}
#LogOutButton {
   color: var(--headertext);
}
#adminbut {
   color: var(--headertext);
}

.PageMenuItems {
   color: var(--headertext);
}
.SmallBox {
   text-align: center;
   border: 1px solid var(--black);
   border-radius: 20px;
   width: 33%;
   margin: 25px auto;
   padding-top: 30px;
   padding-bottom: 30px;
}
.BigBox {
   text-align: center;
   border: 1px solid var(--black);
   border-radius: 20px;
   width: 66%;
   margin: 25px auto;
   padding-top: 30px;
   padding-bottom: 30px;
}

.EventBox {
   text-align: center;
   border: 1px solid var(--black);
   border-radius: 20px;
   margin: 25px auto;
   padding-top: 10px;
   padding-bottom: 5px;
   box-shadow: 3px 7px var(--primary);

}

#welcome {
   font-size: 2.5em;
   color: var(--secondary);
}

#logo {
   float: right;
   width: 200px;
   height: auto;
   margin-right: 100px;
}

#featurelist {
   display: inline-block;
   padding-bottom: 100px;
}
.ErrMsg {
   color: red;
   font-family: Krungthep;
   font-style: italic;
   text-align: center;
   font-size: 1em;
}
.NotLog {
   padding-top: 2em;
   padding-bottom: 15em;
}
.UsernameMsgYes {
   text-align: left;
   color: red;
   font-family: Krungthep;
   font-style: italic;
}
.UsernameMsgNo {
   text-align: left;
   color: blue;
   font-family: Krungthep;
   font-style: italic;
}
#loginpage {
   padding-bottom: 2em;
}